<!--<div id="search-form">-->
    <!--<input type="text" id="search-input" placeholder="Search by tag..."/>-->
    <!--<button id="search">Search</button>-->
<!--</div>-->


<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-9" aria-expanded="false" style="height: 0.800000011920929px;">
        <ul class="nav navbar-nav">
            <li><a href="" class="header-logo"><div id="header-logo-img"></div></a></li>
            <li><a href="#/blog" class="hvr-underline-reveal"><span class="glyphicon glyphicon-home"></span> Blog</a></li>
            <li><a href="#/about" class="hvr-underline-reveal"><span class="glyphicon glyphicon-education"></span> About us</a></li>
            <li><a href="#/login" class="hvr-underline-reveal"><span class="glyphicon glyphicon-user"></span> Login</a></li>
            <li><a href="#/register" class="hvr-underline-reveal"><span class="glyphicon glyphicon-registration-mark"></span> Register</a></li>
        </ul>
        <form class="navbar-form navbar-right" id="search-form" role="search">
            <div class="input-group">
                <input type="text" id="search-input" class="form-control" placeholder="Search by tag...">
          <span class="input-group-btn">
            <button id="search" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
            </div><!-- /input-group -->
        </form>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->