* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    font-size: 18px;
}

#main-wrapper {
    max-width: 1070px;
    margin: 10px auto;
}

ul {
    list-style: none;
}

.post ul {
    padding: 0 40px;
}

#wrapper {
    width: 80%;
    display: inline-block;
}

#sidebar {
    width: 19%;
    display: inline-block;
    vertical-align: top;
}

article:nth-child(odd) {
    background: lightgray;
}

article:nth-child(even) {
    background: lightgoldenrodyellow;
}

#post-section #content {
    width: 100%;
    height: 200px;
    font-size: 1em;
}
#post-section input[type=text] {
    font-size: 1em;
}

.author a {
    color: #038cff;
    text-decoration: none;
}

.user-info {
    font-size: 1em;
}

footer {
    height: 100px;
}

/* Aside */

#sidebar .panel {
    padding: 0;
}

#sidebar .panel-body {
    padding: 10px;
}

.popular-tag {
    font-size: 1.3em;
}

#sidebar .nav-pills li {
    width: 100%;
}

#sidebar #mostPopularTags li {
    border: none;
}

/* Header */
header {
    background: #222222;
    height: 60px;
}

header .navbar {
    z-index: 1001;
    border: none;
    margin-bottom: 0;
    font-size: 1em;
}

nav, #wrapper {
    max-width: 1070px;
    margin: 0 auto;
}

nav li:hover > a{
    color: #ff8100 !important;
    transition: color .2s ease-in-out;
}

header .navbar a {
    font-size: 1.5em;
    text-decoration: none;
    color: #ffffff !important;
    cursor: pointer;
}

header .navbar a:hover {
    color: #ff8100 !important;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

.navbar-nav li {
    margin: 0 5px;
}

header .navbar-inverse .navbar-nav>.active>a {
    background: #E90606;
}

#post-section div{
    margin: 5px 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: #ff0000;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

#posts .jumbotron, .post .jumbotron {
    padding: 5px 20px;
}

#posts .jumbotron p, .post .jumbotron p{
    font-size: 1.1em;
}

#posts .jumbotron .post-content, .post .jumbotron .post-content {
    font-size: 1.4em;
    background: #f6f6f6;
}

#search-form {
    margin-top: 13px;
    color: green;
}

.post-details {
    margin-right: 15px;
    color: #038cff;
}

.post-details-container .glyphicon {
    font-size: 1.1em;
    padding-right: 3px;
}

/* validation css */
#result{
    margin-left:5px;
}

#passwordMatch {
    margin-left:5px;
}
/* end of validation css */

#gender {
    width: 25%;
}

.picture-preview {
    max-width: 214px;
    /*max-height: 270px;*/
}
.thumbnail {
    width: 170px;
}

#profileButtons {
    text-align: right;
}

.noty_type_error{
    background: #ff574f;
    color: white;
}

.noty_type_success {
    /*#dff0d8*/
    background: rgba(121, 216, 121, 0.50);
    /*#3C763C*/
    color: #3C763C;
}